/*Corpo Principal*/
body {
    background: #1e5ac7;
    font-family: "Segoe UI", Roboto, sans-serif;
    padding: 25px;
}

/*Caixa do formulário*/
.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    max-width: 620px;
    margin-top: 20px;
}

/*Título*/
h2 {
    font-weight: 700;
    color: #1e3d73;
    margin-bottom: 25px;
    text-align: center;
}

/*Campos*/
.form-control {
    border-radius: 10px;
    border: 1px solid #ccd8f0;
    padding: 12px;
    background: #f8f9fc;
    transition: 0.3s;
}

.form-control:focus {
    border-color: #1e5ac7;
    box-shadow: 0 0 0 4px rgba(30, 90, 199, 0.25);
}

/*Botão Salvar*/
.btn-success {
    padding: 10px 22px;
    border-radius: 10px;
    font-weight: 600;
    background: #1e5ac7;
    border: none;
    color: #ffffff;
    transition: 0.25s;
}

.btn-success:hover {
    background: #174ba8;
}

/*Botão Voltar*/
.btn-secondary {
    padding: 10px 22px;
    border-radius: 10px;
    font-weight: 600;
    background: #7f8c8d;
    border: none;
    color: #ffffff;
    transition: 0.25s;
}

.btn-secondary:hover {
    background: #6c757d;
}

/*Detalhes*/
form input,
form textarea {
    margin-bottom: 15px;
}

textarea.form-control {
    height: 120px;
    resize: none;
}
